     
 
    body {
  padding-top: 100px;
   font-family: Arial, sans-serif;
      background-color: #eafdea;
      color:#2C2C2C;
      text-transform: capitalize;
}
 header {
   background-color:#165A2F; 
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;          
  top: 0;                  
  left: 0;
  width: 100%;
  z-index: 1000;            
  transition: background-color 0.1s ease; 
  
}

.header.scrolled {
   background-color: #165A2F;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 70px;
    margin-right: 10px;
    border-radius: 50px;
}

navbar-brand span {
  color: white;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    
}
nav ul li a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.1s;
    
    
}
nav ul li a:hover {
    text-decoration: underline;
    color: white;
    
} 
    
   
   .card-img-top{
    height: 300px;
   }
 .card-img-overlay{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
 
    .card-title{
        color:black;
        font-size: 35px;
        font-family: cursive;
        text-align: center;
        
    }
    .card-text{
        color: black;
        font-size: 20px;
        text-align: center;
      
    }
  
.text{
    color: #1B4332;;
    font-size: 20px;
    font-family: fantasy;

}

    .gallery-grid{
        align-items: center;
        padding: 20px;
     }
     
     .row {
        gap: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
     }
     
     .row img:hover{
        transform: scale(1.05);
transition: transform 0.5s ease;
       
     }

     
     .col-lg-3, .col-md-4, .col-sm-6, .col-12{
        display: flex;
        flex-direction: column;
        align-items: center;  
        border-radius: 10px;
        border: 2px solid #1B4332;;
        padding: 10px;
        text-align: center;
     }
     .row img{
        width: auto;
        height: 250px;
        margin: 10px auto;
        border-radius: 2px ;
        border: 2px solid #1B4332;;
        transition: transform 0.5s ease, box-shadow 0.3s ease;
     }
     
.row img:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
    
     .img-thumbnail {
        display: block;
        margin: 0 auto;
     }
     @media (max-width: 768px) {
  .img-thumbnail {
    width: 100%;
    height: auto;
  }
}
     .caption{
        font-size: 20px;
        text-align: center;
        font-family: cursive;
        color: #030303;
     }
     .content{
        color: #1B4332;
        font-size: 20px;
        text-align: center;
         margin: 20px;
     }
 footer {
   background-color:#165A2F;;
  color: #fff;
  padding: 25px 40px;  
  margin-top: 40px;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  gap: 25px; 
}

.footer-section {
  flex: 1 1 220px; 
}

.footer-section h5 {
  margin-bottom: 10px;
  font-size: 16px; 
  border-bottom: 2px solid#165A2F;
  display: inline-block;
  padding-bottom: 3px;
}

.footer-section p {
  margin: 4px 0;
  font-size: 13px; 
  color: #ccc;
  line-height: 1.4;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 5px; 
}

.footer-section ul li a {
  color: #ccc;
  text-decoration: none;
  font-size: 13px;
  transition: color 0.2s;
}

.footer-section ul li a:hover {
  color:#74C69D ;
  text-decoration: underline;
}

footer hr {
  border: 0;
  height: 1px;
 background-color:#165A2F;
  margin: 20px 0 8px;
}

footer p {
  margin: 0;
  color: #aaa;
  font-size: 12px;
}
 
 
